<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Surat</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="flowers"></div>
    
    <div class="container">
        <div class="envelope" id="envelope" onclick="openLetter()">
            <div class="flap"></div>
            <div class="letter">
                <p id="text"></p>
            </div>
        </div>
    </div>
    <audio id="bgMusic" loop>
    <source src="{{ url_for('static', filename='musicmp3.mp3') }}" type="audio/mpeg">
</audio>
    <script>
        // Pesan teks tanpa animasi hati
     const message = 'Assalamualaikum mazu, ahahha how was ur day? kalo lagi belajar utk ukom blajar trus ya, smangat! 💪. Gatau juga ni mazu udh ukom apa blm. Tapi mudah mudahan nilai nya bagus amiinn. Oiya mainan bunganya udh dikirim ya, mudah mudahan pas nyampe di mazu ga ada bagian yang lepas atau rusak, tadi udh bilang jga ke org paket nya jangan sampe rusak. Emm oiya mazu tadi nama pengirim pake namanya Ariq pula, lupa pake nama samaran, kalo di tanya bunda atau org rumah jujur ajalah mazu bilang aja temen gajelas namanya Ariq, gaenak juga kan kalo harus bohong2 gaenak sama bunda, gaenak sama org rumah jga. Emm oiya maaf kalau tiba-tiba random ya tiba-tiba kasi mainan gini gatau juga kalo mazu gasuka, maaf yaa. Oiya mazu, kalo misal pergi ke kampus atau main ke lhok hati2 bawa kendaaraan ya. Sekali lagi smangat trus ya mazu always pray for the best for u and proud of whatever u achieve✨.' ;
        let i = 0;
        let isOpened = false;

        function typeWriter() {
            if (i < message.length) {
                document.getElementById("text").innerHTML += message.charAt(i);
                i++;
                setTimeout(typeWriter, 50); 
            }
        }

        function openLetter() {
    if (isOpened) return;
    isOpened = true;

    // Membuka amplop
    const envelope = document.getElementById("envelope");
    envelope.classList.add("open");

    // ▶️ TAMBAHKAN INI (musik)
    const music = document.getElementById("bgMusic");
    music.volume = 0.5;
    music.play();

    // Mulai ngetik
    setTimeout(typeWriter, 800);
}
    </script>

</body>
</html>